.current {
  color: green;
  border-style:solid;
  padding:3px;
}

.responsive{
	width: 300px;
	height:auto;
}

body{
	background-color:skyblue;
	display:grid;
	grid-template-columns:1fr ;
	grid-template-areas:"content"
						
}

nav{
	grid-area:nav;
	background-color:blue;
	display:flex;
	justify-content: center;
	position:fixed;
	width:100%;
	bottom:0;
}
.imagesizing{
	width:300px;
	height:100px;
}
.flexlink{
	background-color:white;
	padding:10px;
	margin:5px;
	font-size:20px;
	text-align: center;
	
}


.content{
	background:linear-gradient(rgb(201, 64, 0),white,rgb(0, 0, 0));
	width:70%;
	text-align:center;
	justify-content: center;
	border-style:solid;
	color:white;
	margin-left:15%;
	border-radius: 5%;
}

@media only screen and (min-width: 1068px){
	body{
		background-color:lime;
		display:grid;
		grid-template-columns:1fr ;
		grid-template-areas:"nav"
							"content"		
}
	nav{
		grid-area:nav;
		display:flex;
		background-color:purple;
		justify-content: center;
		width:100%;
		top:0;
		position:static;
	}
	
}