.current {
  color: green;
  border-style:solid;
  padding:3px;
}

.responsive{
	width: 300px;
	height:auto;
}

body{
	background-color:skyblue;
	display:grid;
	grid-template-columns:1fr ;
	grid-template-areas:"content";
	font-family: "Open Sans", sans-serif;
	line-height: 1.25;
						
}

nav{
	grid-area:nav;
	background-color:blue;
	display:flex;
	justify-content: center;
	position:fixed;
	width:100%;
	bottom:0;
}
.imagesizing{
	width:300px;
	height:100px;
}
.flexlink{
	background-color:white;
	padding:10px;
	margin:5px;
	font-size:20px;
	text-align: center;
	
}


.content{
	bottom:10%;
	background-color:darkorchid;
	width:95%;
	height:500px;
	text-align:center;
	justify-content: center;
	border-style:solid;
	color:white;
	margin-left:2.5%;
	border-radius: 5%;
}

@media only screen and (min-width: 1068px){
	body{
		background-color:lime;
		display:grid;
		grid-template-columns:1fr ;
		grid-template-areas:"nav"
							"content"		
}
	nav{
		grid-area:nav;
		display:flex;
		background-color:purple;
		justify-content: center;
		width:100%;
		top:0;
		position:static;
	}
	.content{
		top:10%;
	}
	
}
.social_link{
	display:flex ;
	left:0;
	top:45%;
	position:fixed;
	background-color:purple;
	border-style:solid;
	color:red;
	flex-direction:column;
	border-radius: 10%;
	padding:3px;
}
.social_item{
	display: none; 
	widows: 30px;
	height:auto;
}

@keyframes auglysing{
	0% { right:0px; top:200px;}
	20% { right:200px; top:200px;background-color:green;}
	40% { right:200px; top:500px;}
	60% { right:0px; top:500px;	}
	80% { right:0px; top:200px;transform:rotate(0deg);}
	100% { transform: rotate(360deg);}
}
.animation{
	position:fixed;
	top:200px;
	right:0px;
	width:200px;
	height:auto;
	justify-content:center;
	background-color:purple;
	animation-name: auglysing;
	animation-duration: 5s;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color:#ea13f1;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  background-color: #9b07a0;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
tr:nth-child(even) {
	background-color: #9b07a0;
  }

@media screen and (max-width: 1067px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
fieldset {
	border: 1px solid #cecfd5;
	border-radius: 6px;
	padding: 24px 30px;
	position: absolute;
	top:25%;
	left:40%;
	width:20%;
	height:auto;
	justify-content: right;
	text-align:right;
  }